# notebooks
/airflow
/competition
/courses
/datasets
/dgraph
/examples
/experiments
/ia
/interview
/libs
/libs-my
/mlflow
/mongo
/prefecthq
/pytorch
/rnd
/venv

/luigi-container
/mlflow-container
/tfboard

# env
.idea
github-token.txt
.DS_Store
