# gym[atari,box2d,classic_control]==0.10.5
# it seems already installed
# imageio==2.3.0
# pyglet==1.2.4
beautifulsoup4==4.7.1
cartopy==0.16.0
catboost==0.12.2 # A fast, scalable, high performance Gradient Boosting on Decision Trees library, used for ranking, classification, regression
contextily==0.99.0 # retrieve and write to disk tile maps from the internet into geospatial raster files (OSM)
datasketch==1.4.1
descartes==1.1.0 # is used by geopandas
joypy==v0.1.10 # joy division like visualization in matplotlib
lightgbm==2.2.3 # A fast, distributed, high performance gradient boosting (GBDT, GBRT, GBM or MART)
newspaper3k==0.2.8 # Article scraping & curation
osmnx==0.9 # Retrieve, construct, analyze, and visualize street networks from OpenStreetMap
overpass==0.6.1 # overpass api to make db-like queries to open street map data
geopandas==0.4.0
regex==2018.01.10 # is required by spacy
scrapy==1.6.0
simhash
surt==0.3.0
xgboost==0.81 # Scalable, Portable and Distributed Gradient Boosting (GBDT, GBRT or GBM) Library

# https://github.com/jd/tenacity
# retrying library
tenacity==5.0.2
wordcloud==1.5.0 # word cloud generator
