# gym[atari,box2d,classic_control]==0.10.5
# it seems already installed
# imageio==2.3.0
# pyglet==1.2.4
beautifulsoup4==4.7.1
datasketch==1.4.1
descartes==1.1.0 # is used by geopandas
geopandas==0.4.0
scrapy==1.6.0
simhash
surt==0.3.0

# https://github.com/jd/tenacity
# retrying library
tenacity==5.0.2
