# gym[atari,box2d,classic_control]==0.10.5
# it seems already installed
# imageio==2.3.0
# pyglet==1.2.4
altair # a declarative statistical visualization
ax-platform # adaptive experimentation platform
apache-airflow # a platform to programmatically author, schedule and monitor workflows
beautifulsoup4==4.7.1
bokeh
cartopy==0.16.0
catboost==0.12.2 # A fast, scalable, high performance Gradient Boosting on Decision Trees library, used for ranking, classification, regression
contextily==0.99.0 # retrieve and write to disk tile maps from the internet into geospatial raster files (OSM)
dask[complete] #
datasketch==1.4.1
descartes==1.1.0 # is used by geopandas
hyperopt # Distributed Asynchronous Hyperparameter Optimization in Python
ipyvolume # draw 3d in jupyter
joblib==0.13.2 # lightweight pipelining (parallel computing and transparent disk-caching of functions and lazy re-evaluation)
joypy==v0.1.10 # joy division like visualization in matplotlib
jgraph==0.2.1 # An embeddable webGL graph visualization library.
gensim==3.7.1 # unsupervised topic modeling and natural language processing
geopandas==0.4.0
lightgbm==2.2.3 # A fast, distributed, high performance gradient boosting (GBDT, GBRT, GBM or MART)
luigi==2.8.3 # helps you build complex pipelines of batch jobs. It handles dependency resolution, workflow management, visualization etc. It also comes with Hadoop support built in.
mlflow==1.0.0 # platform for the machine learning lifecycle
mrcnn # Mask R-CNN for object detection and instance segmentation on Keras and TensorFlow
newspaper3k==0.2.8 # Article scraping & curation
numpy-quaternion # adds a quaternion dtype to NumPy
osmnx==0.9 # Retrieve, construct, analyze, and visualize street networks from OpenStreetMap
overpass==0.6.1 # overpass api to make db-like queries to open street map data
pydotplus==2.0.2 # Python interface to Graphviz's Dot language
regex==2018.01.10 # is required by spacy
scrapy==1.6.0
simhash
surt==0.3.0
tables # managing hierarchical datasets (HDF5)
tfx # TensorFlow Extended (TFX) is an end-to-end platform for deploying production ML pipelines
torchbiggraph # A distributed system to learn embeddings of large graphs
xgboost==0.81 # Scalable, Portable and Distributed Gradient Boosting (GBDT, GBRT or GBM) Library

# https://github.com/jd/tenacity
# retrying library
tenacity==5.0.2
# doesn't work on python3 :( and fails with error:
# vaex==0.3.10 # Out-of-Core DataFrames for Python, visualize and explore big tabular data at a billion rows per second.
wordcloud==1.5.0 # word cloud generator
