# TODO: somehow I should merge this file with ../requirements.txt
# here should be:
# pytorch with GPU
# tensorflow with GPU
# pandas
# numpy
# and all common dependencies

pyarrow # need to be able to store pandas dataframe to parquet file format
scrapy
tldextract
